$default-color: red;
$secondary-color: blue;

$header-height-web: 96px;
$header-height-mobile: 64px;

$font-size-article-name-web: 2.5rem;
$font-size-article-content-web: 1.2rem;

$font-size-article-name-mobile: 2rem;
$font-size-article-content-mobile: 1rem;

$geo-font: "BPG Banner ExtraSquare Caps", sans-serif;
$main-font: "BPG Nino Mtavruli", sans-serif;

$background-color-main: #131516;
$text-color-main: #d8d4cf;

.content {
    .main-article {
        font-family: $main-font;
    }
}
