$default-color: red;
$secondary-color: blue;

$header-height-web: 96px;
$header-height-mobile: 64px;

$font-size-article-name-web: 2.5rem;
$font-size-article-content-web: 1.2rem;

$font-size-article-name-mobile: 2rem;
$font-size-article-content-mobile: 1rem;

$background-color-main: #131516;

header {
    font-weight: 700;
}
body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.content {
    width: 80%;
    margin-top: 80px;
    display: grid;
    column-gap: 100px;
    grid-template-columns: 0.6fr 1.4fr;
    .main-image {
        img {
            width: 390px;
            height: 520px;
        }
    }
    .main-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        h1 {
            font-size: $font-size-article-name-web;
            font-weight: 700;
        }
        p {
            font-size: $font-size-article-content-web;
        }
    }
}

@media screen and(max-width: 640px) {
    body {
        margin: 0;
    }
    .content {
        margin-top: $header-height-mobile;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .main-image {
            img {
                max-width: 95%;
            }
        }
        .main-article {
            gap: 20px;
            align-items: center;
            h1 {
                font-size: $font-size-article-name-mobile;
            }
            p {
                font-size: $font-size-article-content-mobile;
            }
        }
    }
}
