$default-color: red;
$secondary-color: blue;

$header-height-web: 96px;
$header-height-mobile: 48px;

$font-size-article-name-web: 2.5rem;
$font-size-article-content-web: 1.2rem;

$font-size-article-name-mobile: 2rem;
$font-size-article-content-mobile: 1rem;
