<div class="header">
    <div class="logo-wrapper">
        <a href="#"><img src="../assets/logo/favicon.png" alt="korashvili law office logo" width="100px" /></a>
    </div>
    <nav class="navigation-wrapper">
        <ul class="navigation-list">
            <li class="navigation-list-item">
                <a href=""><span>სერვისები</span></a>
            </li>
            <li class="navigation-list-item">
                <a href=""><span>სიახლეები</span></a>
            </li>
            <li class="navigation-list-item">
                <a href=""><span>ბლოგი</span></a>
            </li>
            <li class="navigation-list-item">
                <a href=""><span>კონტაქტი</span></a>
            </li>
            <li class="navigation-list-item">
                <a href="../en/index.html"><span>eng</span></a>
            </li>
        </ul>
        <button class="hamburger-menu">
            <img src="./assets/logo/mobile-menu.svg" alt="hamburger-menu" width="24px" height="24px" />
        </button>
    </nav>